<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="text" placeholder="Add a log..." [(ngModel)]="text">
    </div>
    <input type="submit" value="Add Log" class="btn btn-light" [disabled]="!this.text">
    <button (click)="clearState()" type="button" class="btn btn-warning" [hidden]="!this.text">Clear</button>
    <!-- <button *ngIf="isEdit" (click)="updatePost()" class="btn btn-warning btn-block">Update Post</button> -->
  </form>
</div>